
/* test change */
/* git test */
/* git test */



*{
  box-sizing: border-box;

}
html, body {
  width: 100%;
  overflow-x: hidden;
}
ul.menue {
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menue a {
    text-decoration: none;
}
