
/* test change */
/* git test */
/* git test */



*{
  box-sizing: border-box;

}
body{
  background-color: #F2F2F2;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


/* nav */
ul.menue {
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menue a {
    text-decoration: none;
    color: #000;
}
a.ct-btn {
    background: #FF8A02;
    text-decoration: none;
    padding: 8px 27px;
    border-radius: 35px;
    color: white;
}


.banner {
    position: relative;
}
.hero-headings {
    position: absolute;
    top: 20%;
    left: 6%;
    max-width: 700px;
}
.hero-headings h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}


.hero-para p {
  margin: 0;   /* default margin remove */
  line-height: 1.7;
}



.hero p{
    color: #D4D4D4;
}
.hero-para {
  margin-top: 25px;
  max-width: 650px;
}

.hero-para p {
  color: #D4D4D4;
  font-size: 18px;
  line-height: 1.7;
  margin: 0;

  border-left: 4px solid #FF8A02;
  padding-left: 20px;
}



.banner img {
  width: 100%;
  display: block;
}
a.explore-btn {
    text-decoration: none;
    background: #FF8A02;
    color: white;
    padding: 12px 37px;
    border-radius: 8px;
}
a.contact-btn {
    text-decoration: none;
    padding: 12px 37px;
    background: #ffffff4d;
    color: white;
    border-radius: 8px;
}
.main-btns {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.box-of-years {
    display: flex;
    background: #b9b9b938;
    width: fit-content;
    padding: 6px 19px;
    border-radius: 5px;
    box-shadow: #0c0c0c36 -1px 1px 2px 0px;
    position: absolute;
    bottom: 28%;
    left: 27%;
}
.box-of-years h3{
    
    color: #FF8A02;
}

.about {
    margin-top: 60px;
}
.about-images {
    position: relative;
}
.who {
  display: flex;
  align-items: center;
  gap: 15px; /* lineum textum idayil space */
}

.small-line {
  width: 30px;
  height: 2px;
  background-color: #f58220;
  display: inline-block;
}

.who h6 {
  margin: 0;
  letter-spacing: 4px;
  font-weight: 600;
}
.about-cnt p{
  font-size: 16px;
}
.dote {
    width: 12px;
    height: 12px;
    background: #05254C;
    border-radius: 86px;
}
.civi-dote {
    display: flex;
    align-items: center;
    gap: 10px;
}
a.more-bt {
    background: #0D4B97;
    padding: 7px 33px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}
.dote-cnt {
    margin-bottom: 40px;
}
